:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13,110,253;
    --bs-secondary-rgb: 108,117,125;
    --bs-success-rgb: 25,135,84;
    --bs-info-rgb: 13,202,240;
    --bs-warning-rgb: 255,193,7;
    --bs-danger-rgb: 220,53,69;
    --bs-light-rgb: 248,249,250;
    --bs-dark-rgb: 33,37,41;
    --bs-white-rgb: 255,255,255;
    --bs-black-rgb: 0,0,0;
    --bs-body-color-rgb: 33,37,41;
    --bs-body-bg-rgb: 255,255,255;
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: 0.375rem;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-2xl: 2rem;
    --bs-border-radius-pill: 50rem;
    --bs-link-color: #0d6efd;
    --bs-link-hover-color: #0a58ca;
    --bs-code-color: #d63384;
    --bs-highlight-bg: #fff3cd;
  }
/*
.blog-header {
    border-bottom: 1px solid #e5e5e5;
    line-height: 1 !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    box-sizing: border-box;
}
*/

body {
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    padding: 0 60px 0 60px;
}

/*
.blog-header {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}
.blog-header_l {
    padding-top: .25rem !important;
}
*/
/* Header Setting */
header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 10px;

    color: black;
    text-align: center;
}
header a {
    color: black;
    padding: 12px;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: currentcolor;
    text-decoration-thickness: 2%;
    line-height: 25px;
    border-radius: 4px;
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 2.25rem;
}
header a:hover {
    text-decoration: none;
}

/* nav Setting  */

nav {
    display: grid; /* I made it grid so i can add icons beside the nav  */
    grid-template-columns: 3fr 1fr;
    background: #1A1E23; /* IDK what color  */
}

nav ul {
    grid-row: 1;
    grid-column: 1;
    display: flex; /* This one we can do inline display if u want  */
    flex-direction: row;
    list-style-type: none;
}
  
nav ul li {
    padding: 5px 20px; /* Some padding so it look better */
}
  
nav ul li a {
    position: relative;
    display: block;
    padding: 4px 0;
    color: #ecf0f1;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
}

nav ul li a::after {
    /* Setting Up some animation :) */
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background: #3498db;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}

nav ul li a:hover {
    color: #95a5a6;
}

nav ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

/* Nav icon Setup  */
nav .icons {
    grid-column: 2;
    grid-row: 1;
    text-align: center;
    padding-top: 15px;
}
nav .icons a img {
    width: 40px;
    height: 40px;
    padding-left: 15px;
    transition: 150ms;
}

nav .icons a:hover img{
    /* Set up icon animation  */
    transform: scale(1.25, 1.25);

}

/* --- Main Setting ---  */

/* Main Aboutme Setting */
main .main_aboutme {
    color: white;
    padding: 35px 0 40px 40px;
    border-radius: 10px;
    margin-bottom: 30px;

    /* Center and scale the image nicely */
    background-image: url(images/backgrounds/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Position text in the middle of the page */
.main_aboutme_text {
    background-color: rgba(0,0,0, 0.69); /* Black w/opacity/see-through */

    font-weight: bold;
    border: 2.5px solid #f1f1f1;
    width: 95%;
    padding: 20px;
    text-align: center;
}


/* I DONT want to touch this */
/* Main Flexbox Setting */
.flex_main {
    display: flex;
    flex-wrap: wrap;
    padding-left: 130px;
}
.flex_main .left {
    width: 45%;
}
.flex_main .left .left_l {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row !important;
    position: relative;
    padding: 10px 10px 10px 20px;
    border-radius: 20px;
    margin-right: 50px;
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}
.flex_main .left .left_l .strong_h3_p {
    display: flex;
    flex-direction: column !important;
}
/* for the right thumbnail */
.flex_main .right {
    width: 45%;
}
.flex_main .right .right_l {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row !important;
    position: relative;
    padding: 10px 10px 10px 20px;
    border-radius: 20px;
    margin-right: 50px;
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}
.flex_main .right .right_l .strong_h3_p {
    display: flex;
    flex-direction: column !important;
}



/* for the Footer */
/* Still the same just add border-top notthing new*/
.footer {
    color: #727272;
    background-color: #f9f9f9;
    text-align: center;
    padding: 30px 0 30px 0;
    margin-top: 40px;

    border-top: 1px solid black;
}
.footer p {
    color: #727272;
    text-align: center;
}